.form {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 22px;
}

.input {
  border: none;
  border-radius: 999px;
  padding: 16px 20px;
  width: 100%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #111111 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #f4ff00;
  display: inline-block;
  border: none;
  min-width: 96px;
  padding: 14px 18px;
  border-radius: 999px;
  text-align: center;
  font-weight: 800;
}
